.calendar-tiles-container {
    margin-top: 32px;
    height: 50%;
    justify-content: space-evenly;
}

.users-tile {
    padding: 8px;
    width: 10%;
    height: 70vh;
}

.calendar-tile {
    padding: 8px;
    width: 55%;
    height: 70vh;
}

.events-tile {
    padding: 8px;
    width: 20%;
    height: 70vh;
}

.calendar-days {
    flex-wrap: wrap;
}

.calendar-day {
    border: solid 1px black;
    width: 100px;
    aspect-ratio: 1 / 1;
}

.floating-announcement {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative; /* For the X button */
    animation: fadeInDown 0.5s ease;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}