.calendar-tiles-container {
    margin-top: 32px;
    height: 50%;
    justify-content: space-evenly;
}

.users-tile {
    padding: 8px;
    width: 10%;
    height: 70vh;
}

.calendar-tile {
    padding: 8px;
    width: 55%;
    height: 70vh;
}

.events-tile {
    padding: 8px;
    width: 20%;
    height: 70vh;
}

.calendar-days {
    flex-wrap: wrap;
}

.calendar-day {
    border: solid 1px black;
    width: 100px;
    aspect-ratio: 1 / 1;
}
