.calendar-maincontent {
    margin-top: 32px;
    height: 50%;
    justify-content: space-evenly;
}

.users-container {
    padding: 8px;
    width: 10%;
    height: 70vh;
}

.calendar-container {
    padding: 8px;
    width: 55%;
    height: 70vh;
}

.events-container {
    padding: 8px;
    width: 20%;
    height: 70vh;
}
