<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="ISO-8859-1">
        <title>Calendar | FamilyNest</title>
		<link rel="stylesheet" href="css/base_style.css">
        <script src="js/lib/stomp.min.js" defer></script>
        <script src="js/lib/sockjs.min.js" defer></script>
        <script src="js/calendar.js" defer></script>
    </head>
    <body>
        <div id="announcementArea">

        </div>
        <div>
            <button type="button" id="announceButton">Send announcement</button>
        </div>
    </body>
</html>
