<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="ISO-8859-1">
        <title>Calendar | FamilyNest</title>
		<link rel="stylesheet" href="css/style.css">
        <script src="js/lib/stomp.min.js" defer></script>
        <script src="js/lib/sockjs.min.js" defer></script>
        <script src="js/calendar.js" defer></script>
    </head>
    <body>
        <nav class="header">
            <div class="rightalign">
                <form action="#" th:action="@{/nav}" method="post">
                    <ul>
                        <li class="inline"><button type="submit" name="action" value="calendar">Calendar</button></li>
                        <li class="inline"><button type="submit" name="action" value="gallery">Gallery</button></li>
                        <li class="inline"><button type="submit" name="action" value="settings">Preferences</button></li>
                        <li class="inline"><button type="submit" name="action" value="logout">Log Out</button></li>
                    </ul>
                </form>
            </div>
        </nav>

        <div id="announcementArea">
            
        </div>
        <div>
            <button type="button" id="announceButton">Send announcement</button>
        </div>


    </body>
</html>
