<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>FamilyNest</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/calendar-style.css">
    <script src="js/lib/stomp.min.js" defer></script>
    <script src="js/lib/sockjs.min.js" defer></script>
    <script src="js/calendar.js" defer></script>
    <script src="js/display.js" defer></script>
</head>
<body>
    <div class="header flex">
        <h2 class="page-title">Calendar</h2>
        <nav>
            <form th:if="${userIsAdmin}" action="#" th:action="@{/admin/nav}" method="POST">
                <ul>
                    <li class="inline"><button class="admin" type="submit" name="action" value="manage-users">Manage Members</button></li>
                    <li class="inline"><button class="admin" type="submit" name="action" value="manage-app">Manage FamilyNest</button></li>
                </ul>
            </form>
        </nav>
        <nav>
            <form action="#" th:action="@{/nav}" method="POST">
                <ul>
                    <li class="inline"><button type="submit" name="action" value="calendar">Calendar</button></li>
                    <li class="inline"><button type="submit" name="action" value="settings">Preferences</button></li>
                    <li class="inline"><button type="submit" name="action" value="logout">Log Out</button></li>
                </ul>
            </form>
        </nav>
    </div>

    <div class="tile announcement-mini-tile">
        <div class="announcement-inline-form">
            <h3>Send Announcement:</h3>
            <input type="text" id="announcementTitle" placeholder="Title">
            <input type="text" id="announcementContent" placeholder="Message...">
            <button id="announceButton" class="admin">Send</button>
        </div>
    </div>

    <div class="flex calendar-tiles-container">
        <div class="tile users-tile">
            <h2 class="center-align">Members</h2>
            <ul id="users-list">
                <!-- Example list item -- dynamically added by javascript -->
                <!-- <li> -->
                <!--     <div class="user-row"> -->
                <!--         <span>Username</span> -->
                <!--         <span>Status</span> -->
                <!--     </div> -->
                <!-- </li> -->
            </ul>
        </div>

        <div id="global-announcement-container"></div>

        <div id="create-event-popup" class="tile create-event-tile">
            <div class="popup-header">
                <h2>Create Event</h2>
                <button id="bttn-close-popup" class="bttn-close-popup close-button"></button>
            </div>
            <hr>
            <form id="create-event-form" class="create-event-form" action="#" method="POST">
                <label for="title">Title</label>
                <br>
                <input id="title" type="text">
                <br>
                <label for="description">Description (Optional)</label>
                <br>
                <input id="description" type="textarea" rows="5" cols="33">
                <br>
                <label for="date">Date</label>
                <br>
                <input id="date" type="date">
                <br>
                <label for="time">Time (Optional)</label>
                <input id="time" type="time">
                <br>
                <label for="members">Other Members</label>
                <br>
                <select name="members" id="members" multiple>
                    <option th:each="member:${members}" th:text="${member.username}" th:value="${member.id}"></option>
                </select>
                <br>
                <button class="bttn-submit-popup" type="submit">Create</button>
            </form>
        </div>

        <div class="tile calendar-tile">
            <div class="calendar center-align">

                <div class="calendar-header">
                    <!-- Month + Year -->
                    <h2 th:text="${monthName} + ' ' + ${year}"></h2>
                </div>
                <!-- Calendar Days -->
                <div class="calendar-day-container">

                    <div class="calendar-day-grid">
                        <h4 class="day-label">Sunday</h4>
                        <h4 class="day-label">Monday</h4>
                        <h4 class="day-label">Tuesday</h4>
                        <h4 class="day-label">Wednesday</h4>
                        <h4 class="day-label">Thursday</h4>
                        <h4 class="day-label">Friday</h4>
                        <h4 class="day-label">Saturday</h4>
                        
                        <!-- Place blank spaces to push first day into the proper day of the week -->
                        <div class="calendar-day border-month" th:each="day:${#numbers.sequence(1, startDayOffset)}">
                        </div>

                        <div th:id="'day-' + ${day}" class="calendar-day" th:each="day:${#numbers.sequence(1, numDays)}">
                            <span class="calendar-day-label" th:text="${day}"></span>
                        </div>

                    </div>
                
                </div>
            </div>
        </div>
        <div class="tile events-tile">
            <h2 class="center-align">Upcoming Events</h2>
            <ul>
                <!-- Example list item -- dynamically added by javascript -->
                <!-- <li> -->
                <!--     <div class="event-row"> -->
                <!--         <span>Event Date</span> -->
                <!--         <span>Event Title</span> -->
                <!--     </div> -->
                <!-- </li> -->
            </ul>
        </div>
    </div>

</body>
</html>
