<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="ISO-8859-1">
        <title>FamilyNest</title>
        <link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/admin-style.css">
    </head>
    <body>
        <div class="header flex">
            <h2 class="page-title">User Management</h2>
            <nav>
                <form action="#" th:action="@{/admin/nav}" method="POST">
                    <ul>
                        <li class="inline"><button class="admin" type="submit" name="action" value="manage-users">Manage Members</button></li>
                        <li class="inline"><button class="admin" type="submit" name="action" value="manage-app">Manage FamilyNest</button></li>
                    </ul>
                </form>
            </nav>
            <nav>
                <form action="#" th:action="@{/nav}" method="POST">
                    <ul>
                        <li class="inline"><button type="submit" name="action" value="calendar">Calendar</button></li>
                        <li class="inline"><button type="submit" name="action" value="gallery">Gallery</button></li>
                        <li class="inline"><button type="submit" name="action" value="settings">Preferences</button></li>
                        <li class="inline"><button type="submit" name="action" value="logout">Log Out</button></li>
                    </ul>
                </form>
            </nav>
        </div>

        <div class="tile edit-user-tile">
            <div class="edit-user-content centered">
                <form action="#" th:action="@{/admin/users/update}" th:object="${user}" method="POST">
                    <!-- TODO: Find better way to prevent text boxes from autofilling without using readonly + onfocus -->
                    <input type="hidden" th:field="*{id}">
                    <input type="text" th:field="*{username}" placeholder="Username" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"> 
                    <input type="password" th:name="password" placeholder="Password" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                    <br>
                    <div>
                        <label for="admin_check">Admin Account</label>
                        <input class="user-checkbox" type="checkbox" id="admin_check" th:field="*{isAdmin}" checked="${isAdmin}">
                    </div>
                    <br>
                    <button class="add-user-bttn" type="submit">Update</button>
                </form>
            </div>
        </div>
    </body>
</html>
