<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="ISO-8859-1">
        <title>Login</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="login_tile" class="centered tile">
            <form action="#" th:action="@{/login/process}" th:object="${user}" method="post">
                <h1>FamilyNest</h1>
                <input type="text" th:field="*{username}" placeholder="Username">
                <br>
                <input type="password" th:field="*{password}" placeholder="Password">
                <br>
                <div class="error">
                    <p th:if="${error}" th:text="${error}"></p>
                </div>
                <button id="login_button" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
