<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="ISO-8859-1">
        <title>FamilyNest</title>
        <link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/admin-style.css">
    </head>
    <body>
        <div class="header flex">
            <h2 class="page-title">User Management</h2>
            <nav>
                <form action="#" th:action="@{/admin/nav}" method="POST">
                    <ul>
                        <li class="inline"><button class="admin" type="submit" name="action" value="manage-users">Manage Members</button></li>
                        <li class="inline"><button class="admin" type="submit" name="action" value="manage-app">Manage FamilyNest</button></li>
                    </ul>
                </form>
            </nav>
            <nav>
                <form action="#" th:action="@{/nav}" method="POST">
                    <ul>
                        <li class="inline"><button type="submit" name="action" value="calendar">Calendar</button></li>
                        <li class="inline"><button type="submit" name="action" value="settings">Preferences</button></li>
                        <li class="inline"><button type="submit" name="action" value="logout">Log Out</button></li>
                    </ul>
                </form>
            </nav>
        </div>

        <div class="tile manage-users-tile">
            <div class="manage-users-content flex">
                <div class="center-align">
                    <h3>Manage Existing Accounts</h3>
                    <ul class="noliststyle">
                        <li th:each="user : ${users}">
                            <form class="center-align" action="#" th:action="@{/admin/users}" method="POST">
                                <div class="user-row flex">
                                    <span class="username" th:text="${user.username}"></span>
                                    <div>
                                        <input type="hidden" th:name="id" th:value="${user.id}"></input>
                                        <button th:if="${currentUser.id} != ${user.id}" class="delete" type="submit" th:name="action" th:value="delete-user">Delete</button>
                                        <button type="submit" th:name="action" th:value="update-user">Edit</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>

                <form class="center-align" action="#" th:action="@{/admin/users}" method="POST">
                    <h3>Add a New Family Member</h3>
                    <button type="submit" name="action" value="add-user">Add New Account</button>
                </form>
            </div>
        </div>
    </body>
</html>
