<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="ISO-8859-1">
        <title>Settings | FamilyNest</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/settings-style.css">
        <script src="js/lib/stomp.min.js" defer></script>
        <script src="js/lib/sockjs.min.js" defer></script>
        <script src="js/calendar.js" defer></script>
    </head>
    <body>
        <div class="header">
            <nav class="rightalign">
                <form action="#" th:action="@{/nav}" method="post">
                    <ul>
                        <li class="inline"><button type="submit" name="action" value="calendar">Calendar</button></li>
                        <li class="inline"><button type="submit" name="action" value="gallery">Gallery</button></li>
                        <li class="inline"><button type="submit" name="action" value="settings">Preferences</button></li>
                        <li class="inline"><button type="submit" name="action" value="logout">Log Out</button></li>
                    </ul>
                </form>
            </nav>
        </div>

        <div class="tile">
            
        </div>
    </body>
</html>
